.banner{
	background-image: linear-gradient(180deg, rgba(200,200,200,0.03) 10%, rgba(200,200,200,0.03) 50%),url(../../images/fond.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	padding-top: 30px;
	margin: 0px;
}
.Intro{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	justify-content: space-between;
	margin-top: 0px
}
.Intro h2{
	font-family: 'Ubuntu Mono', monospace;
	margin-bottom: 50px
}
.Intro h1{
	font-size: 100px
}
body{
	margin: 0px;
}

@media (max-width: 960px) {
  .Intro {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .Intro {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .Intro {
    width: 300px;
  }
}
