.btn{
	background-color: #A56C57;
	padding: 15px 20px;
	border-radius: 10px;
	color: white;
	font-style: 0;
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
}
.btn:hover{
	background-color: white;
	color: green;
}