.container{
	width: 700px;
	margin: 0 auto;
  margin-top: 30px
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.background{
	background-image: linear-gradient(180deg, rgba(0,0,0,0.45) 10%, rgba(255,255,255,0.1) 50%),url(../../image/burgerfond.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.container h2{
  color: green;
  font-size: 50px
}
